body {
	background-color: #eeeeee;
	color: #99999a;
	font-family: Raleway, 'Open Sans', sans-serif;
	margin: 0;
	width: 320px;
}

.header {
	background-color: steelblue;
	box-shadow: 0 1px 6px 1px #aaa;
	color: white;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
.title {
	font-size: 16px;
}
.info {
	font-size: 12px;
	font-style: italic;
	margin-top: 5px;
}
.text-container {
	height: 300px;
	margin-top: 20px;
	overflow: hidden;
}
.textarea {
	font-size: 11px;
	height: 300px;
	margin: 0 10px;
	width: 300px;
    transition: ease-in-out, background-color .35s ease-in-out;
}
.result-json {
	height: 0;
	margin: 0 10px;
	width: 300px;
}
.edit:hover, .format:hover, .format-with-color:hover {
	cursor: pointer;
}
button[disabled] {
	background-color: lightgrey;
}
button[disabled]:hover {
	cursor: default;
}
.textarea:focus, button:focus {
	outline: 0;
}
button:active {
	background-color: lightblue;
}

.footer {
	padding: 20px 20px 17px 20px;
	text-align: center;
}

.edit, .format, .format-with-color {
    background-color: steelblue;
	border: 0;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 10px;
}
.edit, .format {
	margin-right: 10px;
}
.result-json {
	overflow-y: auto;
}
pre {
	background-color: white;
	color: black;
	font-size: 11px;
	outline: 1px solid #ccc; 
	padding: 5px; 
	word-wrap: break-word;
}
.string { 
	color: green; 
}
.number { 
	color: orange; 
}
.boolean { 
	color: blue; 
}
.null { 
	color: lightblue; 
}
.key { 
	color: red; 
}
