body {
	background-color: #eeeeee;
	color: #99999a;
	font-family: Raleway, 'Open Sans', sans-serif;
	margin: 0;
	width: 341px;
}

.header {
	background-color: steelblue;
	box-shadow: 0 1px 6px 1px #aaa;
	color: white;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
.title {
	font-size: 16px;
}
.info {
	font-size: 12px;
	font-style: italic;
	margin-top: 5px;
}
.text-container {
	margin-top: 20px;
}
.textarea {
	height: 300px;
	margin: 0 20px;
	width: 300px;
}
.result-json {
		height: 0;
		margin: 0 20px;
		width: 300px;
}
button:hover {
	cursor: pointer;
}
.textarea:focus, button:focus {
	outline: 0;
}
button:active {
	background-color: lightblue;
}

.footer {
	padding: 20px;
	text-align: center;
}


.validate, .format, .format-with-color {
  background-color: steelblue;
	border: 0;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 10px;
}

pre {
	background-color: white;
	font-size: 12px;
	outline: 1px solid #ccc; 
	padding: 5px; 
}
.string { 
	color: green; 
}
.number { 
	color: darkorange; 
}
.boolean { 
	color: blue; 
}
.null { 
	color: magenta; 
}
.key { 
	color: red; 
}
