body {
	padding: 0;
	margin: 0;
}
.container {
	padding: 20px;
}

.header {
	background-color: steelblue;
	color: blue;
	font-size: 20px;
	padding: 10px;
}
.message {
	background-color: grey;
	padding: 5px;
	font-size: 16px;
	height: 26px;
	width: 100%;
}
.text-container {
	margin: 20px 0 20px 0;
}
.textarea {
	height: 300px;
	width: 300px;
}

.footer {
	background-color: steelblue;
	padding: 10px;
}

.validate {
	border-radius: 5px;
	color: green;
	float: left;
	height: 30px;
	margin-right: 20px;

}

.format, .format-with-color {
	border-radius: 5px;
	color: green;
	height: 30px;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
